

/* *********************************************
 * Container
 * *********************************************/

.container {
  width: 600px;
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;
  *zoom: 1;
}

.container:before, .container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

/* *********************************************
 * Rows
 * *********************************************/

.row {
  *zoom: 1;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.row .row {
  margin: 0 -5px;
}

@media (min-width: 800px) {
  .row .row {
    margin: 0 -10px;
  }
}


/* *********************************************
 * Columns - General
 * *********************************************/

.column {
  position: relative;
}

.column.center {
  float: none;
  margin: 0 auto;
}

.column {
 padding: 0 5px;
 float: left;
 width: 100%;
}

.column + .column:last-child {
 float: right;
}

/* *********************************************
 * Baby Columns - 4 column breakpoint
 * *********************************************/


.baby-center {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.baby-one {
  width: 25%;
}

.baby-push-one {
  left: 25%;
}

.baby-pull-one {
  right: 25%;
}

.baby-two {
  width: 50%;
}

.baby-push-two {
  left: 50%;
}

.baby-pull-two {
  right: 50%;
}

.baby-three {
  width: 75%;
}

.baby-push-three {
  left: 75%;
}

.baby-pull-three {
  right: 75%;
}

.baby-four {
  width: 100%;
}

.baby-push-four {
  left: 100%;
}

.baby-pull-four {
  right: 100%;
}

.baby-push-none {
  left: 0;
}

.baby-pull-none {
  right: 0;
}


/* *********************************************
 * Mother Columns - 12 column breakpoint
 * *********************************************/


@media (min-width: 800px) {
  .column {
    padding: 0 10px;
    float: left;
    width: 100%;
  }
  .column + .column:last-child {
    float: right;
  }

  .mother-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .mother-one {
    width: 8.33333%;
  }

  .mother-push-one {
    left: 8.33333%;
  }

  .mother-pull-one {
    right: 8.33333%;
  }

  .mother-two {
    width: 16.66667%;
  }

  .mother-push-two {
    left: 16.66667%;
  }

  .mother-pull-two {
    right: 16.66667%;
  }

  .mother-three {
    width: 25%;
  }

  .mother-push-three {
    left: 25%;
  }

  .mother-pull-three {
    right: 25%;
  }

  .mother-four {
    width: 33.33333%;
  }

  .mother-push-four {
    left: 33.33333%;
  }

  .mother-pull-four {
    right: 33.33333%;
  }

  .mother-five {
    width: 41.66667%;
  }

  .mother-push-five {
    left: 41.66667%;
  }

  .mother-pull-five {
    right: 41.66667%;
  }

  .mother-six {
    width: 50%;
  }

  .mother-push-six {
    left: 50%;
  }

  .mother-pull-six {
    right: 50%;
  }

  .mother-seven {
    width: 58.33333%;
  }

  .mother-push-seven {
    left: 58.33333%;
  }

  .mother-pull-seven {
    right: 58.33333%;
  }

  .mother-eight {
    width: 66.66667%;
  }

  .mother-push-eight {
    left: 66.66667%;
  }

  .mother-pull-eight {
    right: 66.66667%;
  }

  .mother-nine {
    width: 75%;
  }

  .mother-push-nine {
    left: 75%;
  }

  .mother-pull-nine {
    right: 75%;
  }

  .mother-ten {
    width: 83.33333%;
  }

  .mother-push-ten {
    left: 83.33333%;
  }

  .mother-pull-ten {
    right: 83.33333%;
  }

  .mother-eleven {
    width: 91.66667%;
  }

  .mother-push-eleven {
    left: 91.66667%;
  }

  .mother-pull-eleven {
    right: 91.66667%;
  }

  .mother-twelve {
    width: 100%;
  }

  .mother-push-twelve {
    left: 100%;
  }

  .mother-pull-twelve {
    right: 100%;
  }

  .mother-push-none {
    left: 0;
  }

  .mother-pull-none {
    right: 0;
  }
}
